#title {
	font-family: 'Princess Sofia', cursive;
	text-align: center;
}

.instructions {
	font-family: 'Amatic SC', cursive;
}

.panel {
	margin-top: 30px;
}

.gem-pics {
	margin-left: 400px;
}

#garnet, #amethyst, #pearl {
	margin-right: 10px;
}

body {
	background-image: url("https://images5.alphacoders.com/736/thumb-1920-736054.png");
}